*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/marklin_eigs filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/oft_mesh_check filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/oft_poincare filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/oft_trace filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/thincurr_coupling filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/thincurr_eig filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/thincurr_fr filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/thincurr_from_mode filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/thincurr_td filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/tokamaker_fit filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/tokamaker_gs filter=lfs diff=lfs merge=lfs -text
/OFT_build/install_release/bin/tokamaker_wall filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/scripts/dcon filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/scripts/rdcon filter=lfs diff=lfs merge=lfs -text
